/* 
  Este archivo contiene estilos CSS para la aplicación. Define estilos globales para el documento, incluyendo la fuente, colores, y estilos para elementos como enlaces, botones y encabezados. 
  También incluye estilos específicos para el modo claro utilizando una consulta de medios (media query) para adaptar los colores y fondos según las preferencias del usuario.
  El uso de variables CSS (custom properties) y la configuración de color-scheme permiten que la aplicación se adapte automáticamente a los modos claro y oscuro, proporcionando una experiencia de usuario consistente y agradable en ambos casos.

  El modo correcto de usar css en React es importando el archivo css en el componente principal (generalmente App.jsx o main.jsx) y luego aplicando las clases CSS a los elementos HTML dentro de los componentes de React.
  Aunque también es posible usar estilos en línea (inline styles) o CSS-in-JS, la importación de archivos CSS es una práctica común y sencilla para manejar estilos en aplicaciones React.
  Tambien se puede crear un archivo CSS específico para cada componente y luego importarlo en ese componente, lo que ayuda a mantener los estilos organizados y específicos para cada parte de la aplicación.
  En ese caso lo que tendriamos que hacer es crear un archivo CSS para cada componente, por ejemplo, Input.css para el componente Input, y luego importarlo dentro del archivo del componente Input.jsx. 
  Esto permite que los estilos sean específicos para ese componente y ayuda a mantener el código más organizado.
*/


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
